.container {
    display: flex;
    height: 100vh;
}

.formOuter {
    padding: 26px 5.5rem;
    min-width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formOuter form label {
    color: #191c21;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
    display: inline-block;
    padding-right: 30px;
    margin-bottom: 0px;
}

.formOuter .fieldWrapper {
    display: flex;
    align-items: center;
}
.formOuter .fieldWrapper .field {
    width: 65%;
    position: relative;
    /* padding-bottom: 15px; */
    border-bottom: 1px solid #d1d2d3;
}

.customSelect > div {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color: #191c21 !important;
    border: none !important;
    box-shadow: none !important;
}
.customSelect > div > div {
    padding: 0px !important;
}
.customSelect > div * {
    color: #191c21 !important;
    margin: 0px !important;
}
.customSelect > div div:last-child span {
    background-color: transparent;
}
.customSelect > div svg {
    width: 30px !important;
    height: 30px !important;
}
.formOuter form select {
    color: #191c21;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
    border: none;
    outline: none;
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../../images/icon-down-chivron.svg');
    background-size: 12.8;
    background-position: center right;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
}
.formOuter form select option {
    font-weight: 300;
}
.logo {
    width: 100%;
    max-width: 209.45px;
}
.banner {
    min-width: 50%;
    background-color: #fffcf4;
    display: flex;
}
.w100 {
    width: 100%;
    transform: scale(0.9);
}
.footer p {
    font-size: 14px;
    line-height: 32px;
    margin: 0px;
}

form.loginForm {
    padding-top: 146px;
}

/* Responsive Start */
@media screen and (max-width: 1600px) {
    form.loginForm {
        padding-top: 100px;
    }
    .formOuter {
        min-width: 50%;
    }
}

@media screen and (max-width: 1445px) {
    .banner {
        justify-content: center;
    }

    form.loginForm {
        padding-top: 50px;
    }
    .logoContainer img {
        max-width: 164px;
    }

    .formOuter form label {
        padding-right: 15px;
    }
    .banner {
        justify-content: center;
    }
}

@media screen and (max-width: 1336px) {
    .formOuter form label,
    .customSelect > div {
        font-size: 24px;
        line-height: 52px;
    }
}

@media screen and (max-width: 1024px) {
    .formOuter {
        padding: 26px 25px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        height: auto;
        flex-direction: column;
        padding-bottom: 92px;
    }
    .formOuter {
        width: 100%;
    }
    .logoContainer {
        text-align: center;
    }
    .formOuter .fieldWrapper {
        justify-content: center;
    }
    .formOuter .fieldWrapper .field {
        width: 100%;
        max-width: 390px;
    }
    .welcomeForm {
        padding: 95px 15px 195px;
    }
    .footer {
        position: fixed;
        bottom: 0px;
        padding: 30px 15px;
        text-align: center;
        width: 100%;
        left: 0px;
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        z-index: 9;
    }
    .formOuter form label,
    .customSelect > div {
        font-size: 40px;
        line-height: 52px;
    }
}
@media screen and (max-width: 767px) {
    .welcomeForm {
        padding: 50px 15px 50px;
    }
    .formOuter form label,
    .customSelect > div {
        font-size: 30px;
        line-height: 1.2;
    }
    .footer {
        padding: 15px;
    }
    .container {
        padding-bottom: 62px;
    }
    .banner .w100 {
        max-width: 440px;
    }
}

@media screen and (max-width: 600px) {
    .formOuter .fieldWrapper {
        flex-direction: column;
    }
    .formOuter form label {
        padding-right: 0px;
        display: block;
        margin-bottom: 15px;
    }
    .banner .w100 {
        max-width: 390px;
    }
}
