.container {
    display: flex;
    height: 100vh;
}

.formOuter {
    padding: 26px 5.5rem;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formOuter form label {
    color: #191c21;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
    display: inline-block;
    padding-right: 30px;
    margin-bottom: 0px;
}

.formOuter .fieldWrapper {
    display: flex;
    align-items: center;
}
.formOuter .fieldWrapper .field {
    width: 65%;
    position: relative;
    /* padding-bottom: 15px; */
    border-bottom: 1px solid #d1d2d3;
}

.customSelect > div {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color: #191c21 !important;
    border: none !important;
    box-shadow: none !important;
}
.customSelect > div > div {
    padding: 0px !important;
}
.customSelect > div * {
    color: #191c21 !important;
}
.customSelect > div div:last-child span {
    background-color: transparent;
}

.formOuter form select {
    color: #191c21;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
    border: none;
    outline: none;
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../../images/icon-down-chivron.svg');
    background-size: 12.8;
    background-position: center right;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
}
.formOuter form select option {
    font-weight: 300;
}
.logo {
    width: 100%;
    max-width: 209.45px;
}
.banner {
    min-width: 50%;
    background-color: #fffcf4;
    display: flex;
}
.w100 {
    width: 100%;
}
.footer p {
    font-size: 14px;
    line-height: 32px;
    margin: 0px;
}

form.loginForm {
    padding-top: 146px;
}

/* Responsive Start */
@media screen and (max-width: 1600px) {
    form.loginForm {
        padding-top: 100px;
    }
    .formOuter {
        min-width: 50%;
    }
}

@media screen and (max-width: 1445px) {
    form.loginForm {
        padding-top: 50px;
    }
    .logoContainer img {
        max-width: 164px;
    }
}

@media screen and (max-width: 1024px) {
    .formOuter {
        padding: 26px 25px;
    }
}
