.input {
	background: #ffffff;
	border: 1px solid #d1d2d3;
	border-radius: 8px;
	height: 48px;
	width: 100%;
	font-size: 14px;
	line-height: 28px;
	color: #d1d2d3;
	padding: 10px 16px;
	outline: none;
}
.input::placeholder {
	color: #d1d2d3;
}
