/* Notification Modal Start */
.modalNotification {
    width: 740px;
}
.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 37px;
    border-bottom: 1px solid #d1d2d3;
}
.modalHeader .close {
    cursor: pointer;
}
.modalHeader .modalTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #191c21;
}
.modalNotification .modalBody {
    padding: 24px 27px;
}
.modalNotification .card {
    display: flex;
    border: 1px solid #d1d2d3;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 24px;
    align-items: center;
    position: relative;
}
.card .radioContainer {
    position: absolute;
    top: 6px;
    right: 6px;
}
.card .radioContainer input[type='radio'] {
    transform: scale(1.5);
}
.modalNotification .card:last-child {
    margin-bottom: 0px;
}
.modalNotification .card .content {
    margin-left: 12px;
    font-size: 16px;
    line-height: 28px;
    max-width: 550px;
}
.modalFooter {
    text-align: right;
    padding: 8px 32px 32px;
}
.modalFooter .cancelBtn {
    background: #ffffff;
    border: 1px solid #191c21;
    border-radius: 8px;
    padding: 6px 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    color: #191c21;
    cursor: pointer;
}
.modalFooter .sendBtn {
    background: #51ab86;
    border-radius: 8px;
    padding: 6px 21px;
    border: 1px solid #51ab86;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    color: #fff;
    margin-left: 34px;
    cursor: pointer;
}

/* Responsive Start */
@media screen and (max-width: 1600px) {
    .modalNotification .modalBody {
        max-height: 488px;
        overflow: auto;
    }
    .modalNotification .modalBody::-webkit-scrollbar {
        display: none;
    }
    .modalNotification .card {
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 1024px) {
    .modalNotification {
        width: 629px;
    }
    .modalFooter .cancelBtn,
    .modalFooter .sendBtn {
        font-size: 14px;
    }
    .modalFooter .sendBtn {
        margin-left: 16px;
    }
    .modalHeader {
        padding: 24px 30px;
    }
}
@media screen and (max-width: 767px) {
    .modalNotification {
        width: 100%;
    }
}
