.header {
	padding: 21px;
	display: flex;
	justify-content: space-between;
	background: #ffffff;
	box-shadow: 5px 10px 32px rgba(0, 0, 0, 0.04);
}
.header .search {
	width: 373px;
	position: relative;
	height: 48px;
}
.header .search input {
	position: relative;
	padding-left: 41px;
}
.header .search:before {
	content: "";
	position: absolute;
	background-image: url("../../../images/icon-search.svg");
	width: 17px;
	height: 17px;
	background-repeat: no-repeat;
	background-size: contain;
	top: 50%;
	transform: translate(0px, -50%);
	left: 16px;
	z-index: 999;
}
.header .userBox {
	display: flex;
	align-items: center;
}
.header .userBox .notification img {
	width: 20px;
}
.header .userBox .user {
	display: flex;
	align-items: center;
	margin-left: 27.2px;
}
.header .userBox .userAvatar {
	margin-left: 8px;
}
.header .userBox .userName {
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	text-transform: capitalize;
	color: #191c21;
}
